body {
  background-color: rgb(1, 7, 19);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
}

.Header-main {
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 7, 19);
  position: relative;
}

.Header {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Title {
  color: #ffffff; 
  text-shadow: 0 0 5px #231091, 0 0 10px #04ffea, 0 0 15px #ffffff;
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  background: transparent;
  border-radius: 0;
  padding: 5px;
  position: relative;
  bottom: 70%;
  left: 41.5%;
  width: 25%;
}

.buttons-container {
  display: flex;
  gap: 6px;
  position: absolute;
  top: -145px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  justify-content: center;
}

#Projects-btn,
#About-btn,
#Skills-btn,
#Contact-btn {
  display: flex;
  padding: 5px;
  border: 2px solid;
  border-radius: 25%;
  background-color: transparent;
  border-color: gray;
  color: white;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



.Introduction #Intro-text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  left: 3%;
  top: 35%;
  gap: 10px;
}

.Explore h2 {
  position: relative;
  flex-direction: column;
  color: #ffffff;
  right: -150%;
  font-size: large;
  animation: fadeIn 2s;
  top: 100px;
}

.Introduction #Intro-1 {
  display: flex;
  font-size: 3.5rem;
}

.Introduction #Intro-2 {
  position: relative;
  display: flex;
  color: #ffffff;
  font-size: 3.0rem;
  width: 650px;
}

.globe-container {
  position: absolute;
  right: 33%;
  top: 10%;
  width: 200px;
  height: 200px;
}

.Introduction img {
  position: relative;
  display: flex;
  width: 400px;
  height: 600px;
  padding: 10px 10px;
  border-radius: 10%;
  bottom: 360px;
  left: 105%;
  animation: fadeIn 2s;
}

.aboutme {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  bottom: -400px;
}

.aboutme #aboutme-text {
  display: flex;
  justify-content: center;
  width: 100%;
}

#additional-content {
  text-align: center;
}

.aboutme #down-btn:hover{
  scale: 1.5;
}

.aboutme .aboutme-desc-conatiner{
  display: flex;
  flex-direction: row;
}

.aboutme .aboutme-desc-conatiner #education{
  position: relative;
  right: 100%;
  bottom: -60px;
}

.aboutme .aboutme-desc-conatiner #skills{
  position: relative;
  right: -50%;
  bottom: -60px;
}